.single_header
  %h1.single_header__logo
    = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?228111635")
  %ol{class: "single_header__nav-bar signup-bar"}
    %li
      会員登録
      .progress-status
    %li
      電話番号認証
      .progress-status
    %li
      お届け先住所入力
      .progress-status
    %li.active
      支払い方法
      .progress-status
    %li
      完了
      .progress-status

.main
  .main__container
    %h2.main__container__title 支払い方法
    //pay.jpのデータを引用するため今回は簡易型
    .main__container__form
      %ul.default_list
        %li
          %label カード番号
          %span.required_form 必須
          %input{placeholder: "半角数字のみ"}
        %li
          %label 有効期限
          %span.required_form 必須
          %br
          //active_hashを使用
          .expiration
            .select-wrap.select-wrap__month.select-default
              %select{:name => "month"}
                %option{:value => ""} --
              = icon "fas" ,"chevron-down"
            %span 月
            .select-wrap.select-default
              %select{:name => "year"}
                %option{:value => ""} --
              = icon "fas" ,"chevron-down"
            %span 年
        %li
          %label セキュリティーコード
          %span.required_form 必須
          %input{placeholder: "カード背面4桁もしくは3桁の番号"}
          %a{href: "/"} カード裏面の番号とは
        %li
          %button.red_btn
            次へ進む

= render "footer"
