.wrapper
  = render 'mypage_side_nav'
  .logout
    .logout__container
      .logout__container-line
        .logout__container-button
          %button.btn-default.btn-red{type: "submit"}
            ログアウト
