//本人情報
.wrapper
  .header
    HEADER
  .container.clearfix
    = render "mypage_side_nav"
    .main-content
      .mypage-identification
        .mypage-identification__chapter-head
          本人情報の登録
        .mypage-identification__form
          .mypage-identification__form__need-upload
            %p.inner-ptag
              お客様の本人情報をご登録ください。
              %br>/
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            %p.inner-ptag.text-right
              = link_to '#', class: 'upload_link' do
                本人確認書類のアップロードについて
                %i.fa.fa-angle-right
          .mypage-identification__form__form-group
            %label.inner-label お名前
            %p.inner-ptag 新本 修平
          .mypage-identification__form__form-group
            %label.inner-label お名前カナ
            %p.inner-ptag シンモト シュウヘイ
          .mypage-identification__form__form-group
            %label.inner-label 生年月日
            %p.inner-ptag 1993/11/16
          .mypage-identification__form__form-group
            %label.inner-label 郵便番号
            .free-input 任意
            %input.input-default{placeholder: "例）123456"}
          .mypage-identification__form__form-group
            %label.inner-label 都道府県
            .free-input 任意
            .select-prefecture
              %select.sel-pref
              %i.fa.fa-angle-down.fa-2x
          .mypage-identification__form__form-group
            %label.inner-label 市区町村
            .free-input 任意
            %input.input-default{placeholder: ""}
          .mypage-identification__form__form-group
            %label.inner-label 番地
            .free-input 任意
            %input.input-default{placeholder: ""}
          .mypage-identification__form__form-group
            %label.inner-label 建物名
            .free-input 任意
            %input.input-default{placeholder: ""}
          %button.mypage-identification__form__register-button 登録する
          .mypage-identification__form__form-group.text-right
            %p.inner-ptag
              = link_to '#', class: 'upload_link' do
                本人確認の登録について
                %i.fa.fa-angle-right
