.footer__fix
  .footer__fix--left
    .footer__fix--left-top メルカリについて
    %ul
      %li 会社概要（運営会社）
      %li 採用情報
      %li プレスリリース
      %li 公式ブログ
      %li メルカリロゴ利用ガイドライン
      = icon 'fab', 'twitter'
      = icon 'fab', 'facebook-square'
  .footer__fix--left
    .footer__fix--left-top ヘルプ＆ガイド
    %ul
      %li メルカリガイド
      %li らくらくメルカリ便
      %li ゆうゆうメルカリ便
      %li 大型メルカリ便
      %li 車体取引ガイド
      %li メルカリあんしん・あんぜん宣言！
      %li 偽ブランド品撲滅への取り組み
      %li メルカリボックス
  .footer__fix--center
    .footer__fix--center-top プライバシーと利用規約
    .footer__fix--center-top--inner
      %ul
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li あんしんスマホサポート制度に関する利用規約
        %li コンプライアンスポリシー
    .footer__fix--center-top--inner2
      %ul
        %li 個人データの安全管理に係る基本方針
        %li 特定商取引に関する表記
        %li 資金決済法に基づく表示
        %li 法令順守と犯罪抑止のために
        %li 返品・返金ポリシー
  .footer__fix--right
    .footer__fix--right-top
      国
      %ul
        %li 日本
        %li United States
.footer-bottom
  =image_tag("mercarilogo-white.svg",alt: "mercari", class: "mercarilogo-white")
  %span.copyright ©︎ 2019 Mercari
