.header
  .header__inner
    .header__inner--top
      = link_to "/" do
        = image_tag("mercarilogo.svg", class: "logo")
      %input.header-input{type: "text", placeholder: "何かお探しですか？"}
      %i.fa.fa-search
    .header-nav-box
      %nav.list-left
        %ul.header-nav
          %li.header-nav
            %h2
              %a.header-nav
                %i.fa.fa-list-ul
                %span カテゴリーから探す
          %li.header-nav
            %h2
              %a.header-nav
                %i.fa.fa-tag
                %span ブランドから探す
              %ul.pc-header-nav-parent-wrap
                %li.pc-header-nav-parent
                  %h3
                    %a シャネル
                %li.pc-header-nav-parent
                  %h3
                    %a ナイキ
                %li.pc-header-nav-parent
                  %h3
                    %a ルイ　ヴィトン
                %li.pc-header-nav-parent
                  %h3
                    %a シュプリーム
                %li.pc-header-nav-parent
                  %h3
                    %a アディダス
                %li.pc-header-nav-parent
                  %h3
                    %a ブランド一覧



      .list-right
        %ul.header-user-nav
          %li
            %a.tag1
              %i.fa.fa-bell
              %span お知らせ
          %li
            %a.tag1
              %i.fa.fa-check
              %span やることリスト
          .mypage
            =link_to "users",class: "tag" do
              =image_tag("avatar.png",alt: "logo", height: "30", )
              .my マイページ
