.items-box-content__box__photo
  =image_tag("top-item.jpg",alt: "item", height: "220",class: "tops")
.items-box-content__box__body
  %h3.items-name 新品未使用　スタニングルアーワンピース
  .items-num
    .items-num__price ¥1,800
    .items-num__likes
      %span.like 12
      %i.far.fa-heart
    %p (税込)
