- @items.each do|item|
  .items-box-content__box
    .items-box-content__box__photo
      = image_tag item.images.first.item_image,alt: "item", height: "220",class: "tops"
    .items-box-content__box__body
      %h3.items-name
        = item.name
      .items-num
        .items-num__price
          = "¥#{item.price}"
        .items-num__likes
          %i.fa.fa-heart
          %span.like 12
        %p (税込)
