.single_header
  %h1.single_header__logo
    = link_to image_tag("/assets/mercarilogo-f4c823301da0441f633837b7b207f4711269ff5c49e8d82f66df3324031a30cc.svg")

  .modal__inner
    .inner
      %h3.modal-head 購入が完了しました
      .buy-modal-body
        購入者からの連絡をお待ちください
        = link_to '続けて購入する', '/items', class: 'red_btn modal-btn'

  = render "devise/registrations/footer"
