.credit{
  width: 700px;
  float: right;
  &__main{
    background-color: white;
  }
    h2.credit__main-header{
      font-weight: bold;
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      line-height: 1.4;
      background-color: white;
    }
      &__main-inner{
        padding: 64px;
      }
        &__content{
          max-width: 320px;
          margin: 0 auto;
        }
          h3.credit__content-header{
            font-size: 16px;
            font-weight: bold;
          }
            ul.credit__list{
              list-style: none;
            }
              &__add{
                padding: 24px 0;
                border-bottom: 1px solid #eee;
              }
                &__add-main{
                  margin: 0 auto;
                  background: #ea352d;
                  border: 1px solid red;
                  color: white;
                  display: block;
                  max-width: 320px;
                  line-height: 48px;
                  font-size: 14px;
                  transition: all ease-out .3s;
                  cursor: pointer;
                  text-align: center;
                  text-decoration: none;
                  font-weight: bold;
                }
                .card{
                  margin-right: 16px;
                }
                  &__info{
                    display: block;
                    margin: 40px 0 0;
                    text-align: right;
                    color: #0099e8;
                  }
}


