//出品の画面用CSS
.sell_content {
  li {
    padding: 40px;
    border-bottom: 1px solid #eee;
    margin-top: 0 !important;
    .form-group {
      margin-top: 40px;
      &:first-child {
        margin-top: 0;
      }
      input,textarea {
        @include defolt_input;
      }
      .select-default {
        @include select-default;
      }
      label {
        font-weight: 600;
      }
      .required_form {
        @include required_form;
      }
    }
  }
  &__image_input{
    margin-top: 0;
    p {
      margin-top: 8px;
      line-height: 1.5;
    }
    .input_area {
      position: relative;
      min-height: 162px;
      background: #f5f5f5;
      border: 1px dashed #ccc;
      font-size: 0;
      text-align: center;
      margin-top: 16px;
      p {
        font-weight: bold;
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        transform: translate(0, -50%);
      }
    }
  }
  h3 {
    float: left;
  }
  &__item_type ,&__delivery , &__price {
    .sell_form {
      float: right;
      width: 400px;
    }
  }
  &__price {
    &__form {
      width: 400px;
      float: right;
      &__input_area {
        padding-bottom: 24px;
        .input_label {
          width: 50%;
          float: left;
          line-height: 48px;
          display: inline-block;
        }
        .price_input{
          width: 50%;
          text-align: right;
          float: right;
          input {
            display: inline-block;
            width: 80% !important;
            margin: 0 0 0 5%;
            text-align: right;
          }
        }
      }
      &__commission {
        margin: 24px 0;
        p{
          float: left;
        }
        .fee{
          float: right;
        }
      }
      &__profit {
        margin: 24px 0;
        font-weight: bold;
        font-size: 16px;
        p {
          float: left;
        }
        .profit_price {
          float: right;
          font-size: 34px;
        }
      }
    }
  }
  &__consent {
    p {
      line-height: 1.5;
      a{
        color: $blue;
        display: inline;
        &:hover {
          opacity: 0.8;
          text-decoration: underline;
        }
      }
    }
    .red_btn {
      @include button;
      @include red_btn;
      margin-top: 40px;
    }
    .return_btn {
      @include return_btn;
    }
  }
}
