.logout{
  width: 700px;
  height: 179px;
  &__container{
    background-color: #fff;
  }
  &__container-line{
    width: 572px;
    height: 50px;
    padding: 64px;
  }
  &__container-button{
    max-width: 320px;
    margin: 0 auto;
  }
  .red_btn{
    margin-top: 0;
  }
}
