.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

//ヘッダー
.single_header{
  text-align: center;
  height: 128px;
  &__logo{
    width: 185px;
    height: 49px;
    margin-top: 40px;
    line-height: 49px;
    display: inline-block;
    &:hover {
      opacity: 0.7 ;
    }
  }
  &__nav-bar {
    display: inline-block;
    padding: 40px 0 0 44px;
    vertical-align: top;
    li{
      display: inline-block;
      position: relative;
      z-index: 1;
      display: inline-block;
      min-width: 60px;
      margin: 0 40px 0 0;
      font-size: 12px;
      color: #888;
      &:first-child
      .progress-status:before,
      &:last-child
      .progress-status:after {
        display: none;
      }
      &:last-child {
          margin: 0;
      }
      .progress-status{
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        background: #ccc;
        border-radius: 50%;
        &:before{
          right: 50%;
        }
        &:after,&:before{
          position: absolute;
          bottom: 5px;
          z-index: -1;
          display: block;
          content: '';
          width: 100%;
          height: 2px;
          background: #ccc;
        }
      }
    }
    li.active {
      font-weight: 600;
      color: #ea352d;
      .progress-status {
        background-color: #ea352d;
      }
    }
  }
}

//メイン
.main {
  &__container {
    width: 700px;
    margin: 0 auto;
    background-color: #ffffff;
    &__title {
      padding: 32px 16px;
      font-size: 22px;
      text-align: center;
      font-weight: bold;
      border-bottom: 1px solid #f5f5f5;
    }
    &__form{
      padding: 64px;
      width: 320px;
      margin: 0 auto;
    }
    .default_list,.sell_content{
      li {
        margin-top: 40px;
        &:first-child {
          margin-top: 0;
        }
        a , .fa-chevron-right{
          margin-top: 8px;
          color: #0099e8;
          text-decoration: none;
          display: block;
          &:hover {
            opacity: 0.8;
            text-decoration: underline;
          }
        }
        label {
          font-weight: 600;
        }
        input {
          @include defolt_input;
        }
        .sub-title {
        font-size: 16px;
        }
        .notes {
          margin-top: 8px;
          letter-spacing: 1px;
          line-height: 1.5;
        }
        .sample {
          text-align: center;
        }
        .info {
          margin: 8px 0 0;
          line-height: 1.5;
          color: #888;
        }
        .consent {
          text-align: center;
          a {
            display: inline;
          }
        }
        .thanks_text {
          text-align: center;
          font-size: 16px;
          line-height: 30px;
        }
        .red_btn {
          @include button;
          @include red_btn;
        }
        .facebook_btn {
          @include button;
          @include facebook_btn;
        }
        .google_btn {
          @include button;
          @include google_btn;
        }
        .required_form {
          @include required_form;
        }
        .any_form {
          @include any_form;
        }
        .select-default {
          @include select-default;
        }
        //誕生日選択プル
        .birthday {
          .select-wrap{
            width: 140px;
            display: inline-block;
            margin-top: 8px;
            position: relative;
          }
          span {
            margin: 8px
          }
        }
        //都道府県選択プル
        .prefecture_id {
          .select-wrap{
            width: 100%;
            display: inline-block;
            margin-top: 8px;
            position: relative;
          }
          span {
            margin: 8px
          }
        }
        //クレジット有効期限選択プル
        .expiration {
          display: inline-block;
          .select-wrap{
            width: 120px;
            display: inline-block;
            margin-top: 8px;
            position: relative;
          }
          span {
            margin: 8px
          }
        }
      }
      .sell_content {
        padding: 40px;
        h3 {
          float: left;
        }
        .sell_form {
          float: right;
          width: 400px;
        }
      }
      .text-right {
        text-align: right;
        a , i{
          display: inline-block;
        }
      }
    }
  }
}

//フッター
.single_footer {
  width: 456px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
  li {
    display: inline-block;
    color: #333;
    font-size: 12px;
    margin-right: 13px;
    a {
      color: #333;
      text-decoration: none;
      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
  }
  &__logo {
    margin: 40px 0 8px;
    img {
      width: 80px;
      height:65px;
      &:hover {
        opacity: 0.7 ;
      }
    }
  }
  small {
    font-size: 13px;
  }
}

//サインインの画面用CSS
.main__sign_in {
  width: 456px;
  margin: 0 auto;
  background-color: #ffffff;
  &__title {
    padding: 40px 64px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
    p {
      font-size: 14px;
      font-weight: normal;
    }
    .sign_up_btn {
      @include sign_up_btn;
    }
  }
  &__button {
    padding: 32px 64px;
    margin: 0 auto;
    li {
      margin-top: 16px;
    }
    li:first-child{
      margin-top: 0;
    }
    .facebook_btn {
      @include button;
      @include facebook_btn;
    }
    .google_btn {
      @include button;
      @include google_btn;
    }
  }
  &__form {
    padding: 24px 64px 32px;
    margin: 0 auto;
    li {
      margin-top: 20px;
      a {
        display: block;
        margin-top: 40px;
        color: #0099e8;
        text-decoration: none;
        &:hover {
          opacity: 0.8;
          text-decoration: underline;
        }
      }
      input {
        @include defolt_input;
      }
      .red_btn {
        @include button;
        @include red_btn;
      }
    }
  }
}

//仮置きreCAPTCHA
.reCAPTCHA {
  height: 78px;
  width: 320px;
  border: 1px solid #000;
}
