// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-content {
  float: right;
  width: 700px;
  &__listing-items{
    margin: 40px 0px 0px;
    background: #fff;
    .tab-head{
      padding: 0 16px;
      background-color: #fafafa;
      font-size: 16px;
      font-weight: bold;
      line-height:72px;
    }
    .tabs{
      border: 0;
      background: #eee;
      font-size: 0;
      li{
        width: 33.3%;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        h3 {
          font-size: 22px;
          font-weight: bold;
          .active{
            border-top: 2px solid $red;
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            background-color: #fff;
          }
          .non-active{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
          }
        }
      }
    }
    .tab-content{
      .tab-transaction-now{
        .mypage-item-list{
          display: block;
          position: relative;
          border-bottom: 1px solid #eee;
          .mypage-item-link{
            display: block;
            min-height: 80px;
            padding: 16px;
            color: #333;
            box-sizing: border-box;
            figure{
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;
              padding: 0;
              margin: 0;
              img{
                width: 48px;
                height: 48px;
              }
            }
            &__body{
              margin: 0 40px 0 68px;
              &__text{
                overflow: hidden;
                max-height: 4.4em;
                line-height: 1.5;
              }
              &__status{
                margin-top: 8px;
                &__count{
                  display: inline-block;
                  vertical-align: 2px;
                  margin-right: 6px;
                  color: #ccc;
                  .num{
                    margin-left: 2px;
                    font-weight: bold;
                    display: inline-block;
                    color: #888;
                  }
                }
                &__status{
                  font-weight: bold;
                  display: inline-block;
                  padding: 5px 6px;
                  border-radius: 2px;
                  font-size: 12px;
                  color: #fff;
                  background-color: $blue;

                }
              }
            }
            .fa-angle-right{
              position: absolute;
              top: 50%;
              right: 16px;
              transform: translate(0, -50%);
            }
          }
        }
        .item{
          width:700px;
          padding: 160px 0 60px;
          background-repeat: no-repeat;
          background-image: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?78152110);
          background-position: center 40px;
          background-color: #fff;
          background-size: 78px 85px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
        }
      }
    }
  }
}

