html, body {
font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color:#333;
  background: #f5f5f5;
}
// --------------------------------全体選択（出品ボタンの固定に使う）はここから
.overall{
  height:100%;
  position: relative;
// --------------------------------ヘッダーはここから
  .header{
    background-color: white;
    width: 100vw;
    height: 108px;
    border-bottom:thin solid #f0f0f0;
    &__header-margin{
      width: 1020px;
      height: 100%;
      margin: 0 auto;
      padding-top:8px;

      &--clearfix{
        width:1020px;
        height:50px;
        position: relative;
        img.logo{
          float:left;
          width:auto;
          height:36px;
          padding-top: 7px;
        }
        input.header-input{
          font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
          font-size:16px;
          float:right;
          width:77%;
          height:50px;
          background-color: #e6e6e6;
          border:none;
          padding:0 42px 0 10px
        }
        i.fa.fa-search{
          position: absolute;
          top:15px;
          right:20px;
        }
      }
      .header-nav-box{
        margin-top: 14px;
        width:1020px;
        height:36px;
        float:left;
        nav.list-left{
          ul.header-nav{
            font-size: 0px;
            list-style:none;
            padding-left: 0;
            li:first-child{
            list-style: none;
            padding:0 0 0 2px;
              h2{
                font-size: 14px;
                font-weight: bold;
              }
            }
            li{
              float:left;
            list-style: none;
            padding:0 0 0 22px;
            width:146px;
              h2{
                font-size: 14px;
                font-weight: bold;
                span:hover{
                  color:#0099e8;
                }
              }
            }
          }
        }
        .list-right{
          ul.header-user-nav{
            float:right;
            li{
              padding-left: 28px;
              float:left;
              list-style: none;
              font-size: 14px;
                span:hover{
                  color:#0099e8;
              }
            }
            .mypage{
              float:left;
                height: 36px;
              a.tag{
                line-height: 36px;
                display: inline-block;
                position: relative;
                padding-right: 75px;
                padding-left: 20px;
                .my{
                  display: inline-block;
                  position: absolute;
                  top:-3px;
                  left:55px;
                  width:100px;
                  height: 30px;
                  font-size: 14px;
                }
                .my:hover{
                  color:#0099e8;
                }
              }
            }
          }
        }
      }
    }
  }
// --------------------------------主要コンテンツはここから
  .main-contents{
    line-height: 0;
    img.top-info{
      height: 390px;
      width: 1440pxpx;
      object-fit: cover;
    }
  }
  .pickup-container{
    padding:40px 0;
    width:100vw;
    height:auto;
    background-color: #f5f5f5;
    h2{
      font-size: 28px;
      text-align: center;
      font-weight: bold;
    }
    &__items-container{
      width:940px;
      height: auto;
      margin: 0 auto 0 auto;
      h3.category{
        line-height:70px;
        height:70px;
        text-align: center;
        a.index{
          font-size: 22px;
          color:#0099e8;
          text-decoration: none;
          font-weight: bold;
        }
        a.index:hover{
          color:#b3d4fc;
          border-bottom: 2px solid ;
        }
      }
      .items-content{
        width:940px;
        height:330px;
        &__items-box{
          float:left;
          width:213px;
          height:330px;
          margin-left: 20px;
          &__photo{
            width:213px;
            height:220px;
            position: relative;
            img.tops{
            width: 213px;
            height: 213px;
            position: absolute;
            bottom: 0;
            object-fit: cover;
            }
          }
          &__body{
            width:181px;
            height: 78px;
            padding:16px;
            background-color: white;
            h3.items-name{
              text-align: left;
              font-size: 16px;
              display: block;
              margin: 0;
            }
            .items-num{
              float:left;
              width:181px;
              height: 30px;
              margin-top:3px;
              &__price{
                display: inline;
                font-weight: bold;
                float: left;
                font-size: 17px;
              }
              &__likes{
                width:auto;
                height: auto;
                float: right;
                .fa-heart{
                  padding-top: 3px;
                  padding-right:3px;
                  display: inline-block;
                  float: right;
                  }
                span.like{
                  display: inline-block;
                  float:right;
                }
              }
              p{
                font-size: 10px;
                clear: both;
                margin: 0;
              }
            }
          }
        }
      }
      .items-all{
        text-align: right;
        padding-top: 20px;
        padding-bottom: 30px;
        a.items-all{
          font-size: 14px;
          color:#0099e8;
          text-decoration: none;
        }
        a.items-all:hover{
          color:#b3d4fc;
          text-decoration: underline;
        }
      }
    }
  }
// --------------------------------フッターはここから
  .footer{
    width:100vw;
    height:391px;
    background-color: #212121;
    &__fix{
      width:1020px;
      height: 298px;
      margin: 0 auto 0 auto;
      &--left{
        float:left;
        width:204px;
        height:241px;
        padding-top:23px;
        color:white;
        &-top{
          font-size: 16px;
          }
        ul{
          padding-top: 10px;
          font-size: 12px;
          list-style:none;
          padding-left: 0;
          li{
            padding-top: 10px;
            opacity: .7;
          }
          li:hover{
            text-decoration: underline;
          }
        }
      }


      &--center{
        float:left;
        width:450px;
        height:241px;
        padding-top:23px;
        color:white;

        &-top{
          font-size: 16px;
        }
        &-top--inner{
            width:204px;
          ul{
            padding-top: 10px;
            float:left;
            width:204px;
            padding-left: 0px;
            list-style:none;
            padding-left: 0;
            li{
              font-size: 12px;
              padding-top: 8px;
              opacity: .7;
            }
            li:hover{
            text-decoration: underline;
            }
          }
        }
        &-top--inner2{

            float: right;
          ul{
            padding-top: 10px;
            float:left;
            width:204px;
            padding-left: 0px;
            list-style:none;
            padding-left: 0;
            li{
              padding-left: 15px;
              font-size: 12px;
              padding-top: 8px;
              opacity: .7;
            }
            li:hover{
            text-decoration: underline;
            }
          }
        }
      }
      &--right{
        padding-left: 30px;
        float:left;
        width:100px;
        height:241px;
        padding-top:23px;
        color:white;
        &-top{
          font-size: 16px;
        }
        ul{
          padding-top: 10px;
          float:left;
          width:200px;
          padding-left: 0px;
          list-style:none;
          padding-left: 0;
          li{
            padding-left: 0px;
            font-size: 12px;
            padding-top: 8px;
            opacity: .7;
          }
          li:hover{
          text-decoration: underline;
          }
        }
      }
    }
    .footer-bottom{
      color:white;
      height: 33px;
      width:1020px;
      text-align: center;
      margin: 0 auto 0 auto;
      .mercarilogo-white{
      float:left;
      }
      .copyright{
        display: inline-block;
        font-size: 12px;
        line-height: 33px;
        margin-right: 124px;
      }
    }
  }
// --------------------------------出品ボタンはここから
    .fixed-btn{
    background-color: #ea352d;
    width:160px;
    height:160px;
    border-radius: 80px;
    position:fixed;
    bottom:32px;
    right:32px;
    border: none;
    outline:none;
    div{
      color:white;
      font-size: 22px;
      padding-bottom: 3px;
    }
    .fa-camera{
      color: white;
      font-size:55px !important;
    }
  }





// --------------------------------商品詳細画面はここから
  .pankuzu{
    background-color: white;
    width:100vw;
    height:50px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    ul{
      height: 50px;
      width: 1020px;
      margin: 0 auto;
      li{
        font-size: 14px;
        float:left;
        line-height:50px;
      }
      li:last-child{
        font-weight: bold;
        padding-left:10px;
      }
    }
  }
  .item-box-margin{
    width:620px;
    height:auto;
    background-color: white;
    padding: 24px 40px 40px;
    margin:40px auto 0;
    h1{
      font-size: 24px;
      text-align: center;
      font-weight: bold;
    }
    .item-main-content{
      overflow:hidden;
      width:620px;
      height:auto;
      margin-top:16px;
      &__item-photo{
        float:left;
        width:300px;
        height:auto;
        margin-right:0;
        background-color: #fafafa;
      }
        &__top-item{
          width:300px;
          height:300px;
          text-align:center;
          img.top-item{
          }
        }
        &__items__cell{
          width: 300px;
          height: 120px;
          background-color: #fafafa;
          font-size: 0px;
          img.items-mini{
            object-fit: cover;
            opacity: .4;
          }
          img:first-child{
            opacity: 1;
          }
        }
      table.item-detail-table{
        font-size: 14px;
        float:right;
        width:300px;
        height:420px;
        border: solid 1px #f5f5f5;
      }
      tbody{
        width:300px;
        height:420px;
      }
          tr{
            display: inline-block;
            border: 1px solid #f5f5f5;
            width:299px;
            height:65px;
            th{
              background-color: #fafafa;
            }
          }
        }
    }
    .item-price-box{
      width: 620px;
      height: 60px;
      margin-top: 24px;
      clear:both;
      text-align: center;
      span.item-price{
        font-weight: bold;
        font-size: 50px;
        margin-right:16px;
      }
      span.item-tax{
        font-size: 10px;
      }
      span.item-shipping-fee{
        font-size:16px;
      }
    }
    a.item-buy-btn{
      display: inline-block;
      background-color: #ea352d;
      width:620px;
      height:60px;
      margin-top:16px;
      color:white;
      text-align: center;
      line-height: 60px;
      font-size: 24px;
      font-weight: bold;
    }
    .item-description{
      width:620px;
      height:auto;
      margin-top:24px;
      padding-top: 32px;
      word-break : break-all;
      p.item-description-inner{
        font-size: 20px;

      }

    }
    .item-button-container{
      margin-top:16px;
      width:620px;
      height:33px;
      &__item-button-left{
          float:left;
          width:340px;
          height:33px;
        button.item-button-like{
          background-color: #f5f5f5;
          border-radius: 80px;
          border: none;
          outline:none;
          padding:8px 16px 8px 16px;
          span.item-like{
            margin-top: 1px;
            margin-left: 8px;
            font-size: 14px;
          }
          span.item-like{
            margin-top: 1px;
            margin-left: 8px;
            font-size: 14px;
          }
        }

        a.item-button-report{
          margin-left: 16px;
          background-color: #f5f5f5;
          border-radius: 80px;
          border: none;
          outline:none;
          padding:8px 16px 8px 16px;
          span.item-report{
            margin-top: 1px;
            margin-left: 8px;
            font-size: 14px;
          }
        }
      }
      &__item-button-right{

        float:right;
        width: 225px;
        height:33px;
        color:#0099e8;
        a{
          line-height: 33px;
          text-align: left;
          span{
            font-size:14px;
          }
        }
      }
    }
  }
  .item-comment-margin{
    width:700px;
    height:262px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin:0 auto;
    &__comment-container{
      width:652px;
      height:214px;
      background-color: white;
      padding:24px;
      form{
        p{
          font-size:14px;
          background-color: #fff6de;
          padding:8px;
          line-height: 14px
        }
        textarea.text-margin{
          width:630px;
          height:82px;
          margin-top:8px;
          padding:10px;
          border: 1px solid #ccc;
          font-size: 16px;
          line-height: 1.5;
        }
        button.comment-submit{
          width:650px;
          height:48px;
          background-color:#aaaaaa;
          span{
            font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
            color:white;
            font-size:14px;

          }

        }
      }
    }
  }
  .page-move{
    width:700px;
    height:14px;
    padding-top:24px;
    margin:0 auto;
    .page-back{
      float:left;
      a{
      font-size: 14px;
      color:#0099e8;
      }
    }
    .page-next{
      float:right;
      a{
      font-size: 14px;
      color:#0099e8;
      font-size: 14px;
      color:#0099e8;
      }

    }
  }
  .item-social-media-box{
    width: 700px;
    height:82px;
    padding-top: 32px;
    padding-bottom: 24px;
    margin: 24px auto;
    background-color: white;

  }

  .items-in-user-profile{
    overflow:hidden;
    width:700px;
    height:1524px;
    margin: 0 auto;
    &__items-box-container{
      h2{
        width:700px;
        height:30px;
        margin-top: 24px;
        margin-bottom:8px;
        a{
        color:#0099e8;
        font-size:22px;
        font-weight: bold;
        }
      }
      .items-box-content{
        height:700px;
        &__items-box{
          margin-bottom:20px;
          float:left;
          width:213px;
          height:330px;
// -------------------------ここから商品の１セクション
          &__photo{
            width:213px;
            height:220px;
            position: relative;
            img.tops{
            width: 213px;
            height: auto;
            position: absolute;
            bottom: 0;
            }
          }
          &__body{
            width:181px;
            height: 78px;
            padding:16px;
            background-color: white;
            h3.items-name{
              text-align: left;
              font-size: 16px;
              display: block;
              margin: 0;
            }
            .items-num{
              float:left;
              width:181px;
              height: 30px;
              margin-top:3px;
              &__price{
                display: inline;
                font-weight: bold;
                float: left;
                font-size: 17px;
              }
              &__likes{
                width:auto;
                height: auto;
                float: right;
                .fa-heart{
                  padding-top: 3px;
                  padding-right:3px;
                  display: inline-block;
                  float: right;
                  }
                span.like{
                  display: inline-block;
                  float:right;
                }
              }
              p{
                font-size: 10px;
                clear: both;
                margin: 0;
              }
            }
          }
        }
// -------------------------ここからくり帰り処理
        &__items-box2{
          margin-left:20px;
          margin-bottom:20px;
          float:left;
          width:213px;
          height:330px;

          &__photo{
            width:213px;
            height:220px;
            position: relative;
            img.tops{
            width: 213px;
            height: auto;
            position: absolute;
            bottom: 0;
            }
          }
          &__body{
            width:181px;
            height: 78px;
            padding:16px;
            background-color: white;
            h3.items-name{
              text-align: left;
              font-size: 16px;
              display: block;
              margin: 0;
            }
            .items-num{
              float:left;
              width:181px;
              height: 30px;
              margin-top:3px;
              &__price{
                display: inline;
                font-weight: bold;
                float: left;
                font-size: 17px;
              }
              &__likes{
                width:auto;
                height: auto;
                float: right;
                .fa-heart{
                  padding-top: 3px;
                  padding-right:3px;
                  display: inline-block;
                  float: right;
                  }
                span.like{
                  display: inline-block;
                  float:right;
                }
              }
              p{
                font-size: 10px;
                clear: both;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  .over-margin{
    margin-top:40px;


}
// --------------------------------画像の表示はここから
  .fa-list-ul,.fa-tag{
    color: #ea352d;
    font-size: 15px;
  }
  .fa-bell,.fa-check{
    color:#ccc;
    font-size: 20px;
  }
  .top-info{
    height:390px;
    width:100vw;
  }
  .app-info{
    line-height: 0;
    .app-banner-pc{
      height:260px;
      width:100vw;
    }
  }
  .fa-twitter{
    padding-top: 30px;
    font-size: 35px !important;
}
.fa-facebook-square{
  padding-top: 30px;
  padding-left: 20px;
  font-size: 35px !important;
}
