html, body {
  font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color:#333;
  background: #f5f5f5;
}
// 全体選択（出品ボタンの固定に使う）はここから
.overall{
  height:100%;
  position: relative;
// ヘッダーはここから
  .header{
    background-color: white;
    width: 100vw;
    height: 108px;
    border-bottom:thin solid #f0f0f0;
    &__header-margin{
      width: 1020px;
      height: 100%;
      margin: 0 auto;
      padding-top:8px;

      &--clearfix{
        width:1020px;
        height:50px;
        position: relative;
        img.logo{
          float:left;
          width:auto;
          height:36px;
          padding-top: 7px;
        }
        input.header-input{
          font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
          font-size:16px;
          float:right;
          width:77%;
          height:50px;
          background-color: #e6e6e6;
          border:none;
          padding:0 42px 0 10px
        }
        i.fa.fa-search{
          position: absolute;
          top:15px;
          right:20px;
        }
      }
      .header-nav-box{
        margin-top: 14px;
        width:1020px;
        height:36px;
        float:left;
        nav.list-left{
          ul.header-nav{
            font-size: 0px;
            list-style:none;
            padding-left: 0;
            li:first-child{
            list-style: none;
            padding:0 0 0 2px;
              h2{
                font-size: 14px;
                font-weight: bold;
              }
            }
            li{
              float:left;
            list-style: none;
            padding:0 0 0 22px;
            width:146px;
              h2{
                font-size: 14px;
                font-weight: bold;
                span:hover{
                  color:#0099e8;
                }
              }
            }
          }
        }
        .list-right{
          ul.header-user-nav{
            float:right;
            li{
              padding-left: 28px;
              float:left;
              list-style: none;
              font-size: 14px;
                span:hover{
                  color:#0099e8;
              }
            }
            .mypage{
              float:left;
                height: 36px;
              a.tag{
                line-height: 36px;
                display: inline-block;
                position: relative;
                padding-right: 75px;
                padding-left: 20px;
                .my{
                  display: inline-block;
                  position: absolute;
                  top:-3px;
                  left:55px;
                  width:100px;
                  height: 30px;
                  font-size: 14px;
                }
                .my:hover{
                  color:#0099e8;
                }
              }
            }
          }
        }
      }
    }
  }
// 主要コンテンツはここから
  .main-contents{
    line-height: 0;
  }
  .pickup-container{
    padding:40px 0;
    width:100vw;
    height:auto;
    background-color: #f5f5f5;
    h2{
      font-size: 28px;
      text-align: center;
      font-weight: bold;
    }
    &__items-container{
      width:940px;
      height: auto;
      margin: 0 auto 0 auto;
      h3.category{
        line-height:70px;
        height:70px;
        text-align: center;
        a.index{
          font-size: 22px;
          color:#0099e8;
          text-decoration: none;
          font-weight: bold;
        }
        a.index:hover{
          color:#b3d4fc;
          border-bottom: 2px solid ;
        }
      }
      .items-content{
        width:940px;
        height:330px;
        &__items-box{
          float:left;
          width:213px;
          height:330px;
          margin-left: 20px;
          &__photo{
            width:213px;
            height:220px;
            position: relative;
            img.tops{
            width: 213px;
            height: auto;
            position: absolute;
            bottom: 0;
            }
          }
          &__body{
            width:181px;
            height: 78px;
            padding:16px;
            background-color: white;
            h3.items-name{
              text-align: left;
              font-size: 16px;
              display: block;
              margin: 0;
            }
            .items-num{
              float:left;
              width:181px;
              height: 30px;
              margin-top:3px;
              &__price{
                display: inline;
                font-weight: bold;
                float: left;
                font-size: 17px;
              }
              &__likes{
                width:auto;
                height: auto;
                float: right;
                .fa-heart{
                  padding-top: 3px;
                  padding-right:3px;
                  display: inline-block;
                  float: right;
                  }
                span.like{
                  display: inline-block;
                  float:right;
                }
              }
              p{
                font-size: 10px;
                clear: both;
                margin: 0;
              }
            }
          }
        }
      }
      .items-all{
        text-align: right;
        padding-top: 20px;
        padding-bottom: 30px;
        a.items-all{
          font-size: 14px;
          color:#0099e8;
          text-decoration: none;
        }
        a.items-all:hover{
          color:#b3d4fc;
          text-decoration: underline;
        }
      }
    }
  }
// フッターはここから
  .footer{
    width:100vw;
    height:391px;
    background-color: #212121;
    &__fix{
      width:1020px;
      height: 298px;
      margin: 0 auto 0 auto;
      &--left{
        float:left;
        width:204px;
        height:241px;
        padding-top:23px;
        color:white;
        &-top{
          font-size: 16px;
          }
        ul{
          padding-top: 10px;
          font-size: 12px;
          list-style:none;
          padding-left: 0;
          li{
            padding-top: 10px;
            opacity: .7;
          }
          li:hover{
            text-decoration: underline;
          }
        }
      }


      &--center{
        float:left;
        width:450px;
        height:241px;
        padding-top:23px;
        color:white;

        &-top{
          font-size: 16px;
        }
        &-top--inner{
            width:204px;
          ul{
            padding-top: 10px;
            float:left;
            width:204px;
            padding-left: 0px;
            list-style:none;
            padding-left: 0;
            li{
              font-size: 12px;
              padding-top: 8px;
              opacity: .7;
            }
            li:hover{
            text-decoration: underline;
            }
          }
        }
        &-top--inner2{

            float: right;
          ul{
            padding-top: 10px;
            float:left;
            width:204px;
            padding-left: 0px;
            list-style:none;
            padding-left: 0;
            li{
              padding-left: 15px;
              font-size: 12px;
              padding-top: 8px;
              opacity: .7;
            }
            li:hover{
            text-decoration: underline;
            }
          }
        }
      }
      &--right{
        padding-left: 30px;
        float:left;
        width:100px;
        height:241px;
        padding-top:23px;
        color:white;
        &-top{
          font-size: 16px;
        }
        ul{
          padding-top: 10px;
          float:left;
          width:200px;
          padding-left: 0px;
          list-style:none;
          padding-left: 0;
          li{
            padding-left: 0px;
            font-size: 12px;
            padding-top: 8px;
            opacity: .7;
          }
          li:hover{
          text-decoration: underline;
          }
        }
      }
    }
    .footer-bottom{
      color:white;
      height: 33px;
      width:1020px;
      text-align: center;
      margin: 0 auto 0 auto;
      .mercarilogo-white{
      float:left;
      }
      .copyright{
        display: inline-block;
        font-size: 12px;
        line-height: 33px;
        margin-right: 124px;
      }
    }
  }
// --------------------------------出品ボタンはここから
    .fixed-btn{
    background-color: #ea352d;
    width:160px;
    height:160px;
    border-radius: 80px;
    position:fixed;
    bottom:32px;
    right:32px;
    border: none;
    outline:none;
    div{
      color:white;
      font-size: 22px;
      padding-bottom: 3px;
    }
    .fa-camera{
      color: white;
      font-size:55px !important;
    }
  }





// --------------------------------商品詳細画面はここから
  .pankuzu{
    background-color: white;
    width:100vw;
    height:50px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    ul{
      height: 50px;
      width: 1020px;
      margin: 0 auto;
      li{
        font-size: 14px;
        float:left;
        line-height:50px;
      }
      li:last-child{
        font-weight: bold;
        padding-left:10px;
      }
    }
  }
  .item-box-margin{
    width:620px;
    height:1597px;
    // 高さはあとでautoにする
    background-color: white;
    padding: 24px 40px 40px;
    margin:40px auto 0;
    h1{
      font-size: 24px;
      text-align: center;
      font-weight: bold;
    }
    .item-main-content{
      width:620px;
      height:375px;
      margin-top:16px;
      &__item-photo{
        width:300px;
        height:375px;
        margin-right:0;
        background-color: #fafafa;
        background-color: red;
        &__top-item{
          background-color: red;
          width:300px;
          height:300px;
          img.top-item{

          }
        }
      }
    }
  }


}
// 画像の表示はここから
  .fa-list-ul,.fa-tag{
    color: #ea352d;
    font-size: 15px;
  }
  .fa-bell,.fa-check{
    color:#ccc;
    font-size: 20px;
  }
  .top-info{
    height:390px;
    width:100vw;
  }
  .app-info{
    line-height: 0;
    .app-banner-pc{
      height:260px;
      width:100vw;
    }
  }
  .fa-twitter{
    padding-top: 30px;
    font-size: 35px !important;
}
.fa-facebook-square{
  padding-top: 30px;
  padding-left: 20px;
  font-size: 35px !important;
}
